<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AnotherBlog.Data.LINQ.Properties.Settings.AMForwardDbConnectionString"
            connectionString="Data Source=WTML04R8RX832\SQLEXPRESS;Initial Catalog=AMForwardDb;User ID=AMForwardDb"
            providerName="System.Data.SqlClient" />
        <add name="AnotherBlog.Data.LINQ.Properties.Settings.AMForwardDbConnectionString1"
            connectionString="Data Source=WTML04R8RX832\SQLEXPRESS;Initial Catalog=AMForwardDb;User ID=AMForwardDb;Password=AMFEr1c3"
            providerName="System.Data.SqlClient" />
        <add name="AnotherBlog.Data.LINQ.Properties.Settings.ABTestDbConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=ABTestDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>