.tabControl
{
    width: 100%;
}

.tabControl ul
{
	height:100%;
    list-style: none;
	list-style-type:none;
	font-size: medium;    
    border-bottom:1px solid #5403E0;
}

.tabItem
{
	height:100%;
	display:inline;
	color:#5493E0;
	border: 1px solid #5493E0;
	padding: 10px 10px 0 10px;
	background-color:#F4F4F4;
}

.tabItem a
{
	text-decoration:none;
	color:#5493E0;
}

.tabItem a:selected
{
	text-decoration:none;
	color:#5493E0;
}

.tabItem a:visted
{
	text-decoration:none;
	color:#5493E0;
}

.selectedTabItem 
{
	height:100%;
	display:inline;
	color:#5493E0;
	border-top: 5px solid #5493E0;
	border-right: 1px solid #5493E0;
	border-left: 1px solid #5493E0;
	border-bottom: 5px solid White;
	padding: 10px 10px 0 10px;
	background-color:White;
}

.selectedTabItem a 
{
	text-decoration:none;
	color:#5493E0;
}


