@model AlwaysMoveForward.AnotherBlog.Web.Areas.Admin.Models.UserModel
@using AlwaysMoveForward.AnotherBlog.Common.DomainModel
@using AlwaysMoveForward.AnotherBlog.Web.Code.Utilities;
@if (Model.CurrentUser != null)
{
    <input type="hidden" id="userId" name="userId" value="@Model.CurrentUser.UserId" />

    if (Model.BlogsUserCanAccess.Count > 0)
    {       
        <table class="tableBase">
            <thead>
                <tr class="tableHeader">
                    <td width="20%">Blog</td>
                    <td width="40%">Description</td>
                    <td width="20%">Role</td>
                    <td width="20%">Action</td>
                </tr>
            </thead>
            <tbody>
                @foreach (BlogUser userBlog in Model.BlogsUserCanAccess)
                { 
                    <tr>
                        <td>@Model.Blogs[userBlog.Blog.BlogId].Name</td>
                        <td>@Model.Blogs[userBlog.Blog.BlogId].Description</td>
                        <td>@Model.Roles[userBlog.Role]</td>
                        <td><a href="/Admin/UserManagement/DeleteRole?blogId=@userBlog.Blog.BlogId&userId=@userBlog.User.UserId"><img src="/Content/images/action_delete.png" class="deleteComment" alt=""/></a></td>
                    </tr>
                }
            </tbody>                    
        </table>
    }
}