@model AlwaysMoveForward.OAuth2.Web.Models.Consent.ScopeViewModel

<li class="list-group-item" name="consentOptions">
	<label>
		<input class="consent-scopecheck"
			   type="checkbox"
			   name="ScopesConsented"
			   id="scopes_@Model.Name"
			   value="@Model.Name"
			   checked=true
			   disabled=true />

		<input type="hidden"
				name="ScopesConsented"
				value="@Model.Name" />
	</label>

	<div class="consent-description">
		@if (Model.Description != null)
		{
			<label for="scopes_@Model.Name">@Model.Description</label>
		}
		else
		{
			<label for="scopes_@Model.Name">@Model.DisplayName</label>
		}
	</div>
</li>