@model AlwaysMoveForward.OAuth2.Web.Models.ScopeViewModel

<li class="list-group-item">
	<label>
		<input class="consent-scopecheck"
			   type="checkbox"
			   name="ScopesConsented"
			   id="scopes_@Model.Name"
			   value="@Model.Name"
			   checked=true
			   disabled=true />

		<input type="hidden"
				name="ScopesConsented"
				value="@Model.Name" />
		}

		<strong>@Model.DisplayName</strong>
	</label>

	@if (Model.Description != null)
	{
		<div class="consent-description">
			<label for="scopes_@Model.Name">@Model.Description</label>
		</div>
	}

</li>