<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Vistaprint">
      <sectionGroup name="Digital">
        <section name="DatabaseConfiguration" type="VP.Digital.Common.DataLayer.Configuration.DatabaseConfiguration, VP.Digital.Common" requirePermission="false" />
        <section name="HostingConfiguration" type="VP.Digital.Common.Hosting.HostingConfiguration, VP.Digital.Common" requirePermission="false" />
        <section name="AESEncryptionConfiguration" type="VP.Digital.Common.Utilities.Encryption.AESConfiguration, VP.Digital.Common" requirePermission="false" />
        <section name="RSAXmlKeyFileConfiguration" type="VP.Digital.Common.Utilities.Encryption.RSAXmlKeyFileConfiguration, VP.Digital.Common" requirePermission="false" />
      </sectionGroup>
    </sectionGroup>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" requirePermission="false" />
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver, NHibernate</property>
    </session-factory>
  </hibernate-configuration>
  <appSettings>
    <add key="SOCIAL" value="http://localhost:50100"/>
    <add key="LOCALSEARCH" value="http://localhost:50200" />
  </appSettings>
  <Vistaprint>
    <Digital>
      <HostingConfiguration HostName="*" Port="50001" />
      <DatabaseConfiguration 	ConnectionString="Data Source=localhost\DBLOCAL; Initial Catalog=DigitalSecurity; User ID=udigitalsecurity;Password=7A6906D45BB5466;"
        DatabaseName="DigitalSecurity"
        EncryptionMethod="None"
        EncryptionSetting="Vistaprint/Digital/RSAXmlKeyFileConfiguration"/>
      <AESEncryptionConfiguration EncryptionKey="450A3866BA3855D0BABDA25260AE48BE9D95F30696C3FD107EFB21389043CC1B117B729F8B5C609A47B491D4ED7553CD0AB8E81FBD4023ACCEAD098DBB5B93BE" Salt="724B96CE6DC7F09E1B27D3A32D462B28482F26746574B5C9C0CA4162F578916C" />
      <RSAXmlKeyFileConfiguration PublicKeyFile="" PrivateKeyFile="C:\Vistaprint\Digital\VP.Digital.Security.OAuth.WebService\Keys\PrivateKey.xml"/>
    </Digital>
  </Vistaprint>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.20.0" newVersion="2.2.20.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>