@model IdentityServer4.Models.ApiResource
@using AlwaysMoveForward.OAuth2.Common.DomainModel;
@{
	ViewBag.Title = "Edit";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section headerPlugins
	{
	<script type="text/javascript">
        $(document).ready(function () {
            $("#saveButton").click(function () {
                $("#saveForm").submit();
            });
        });
	</script>
}
<div>
	@if (Model != null)
	{
		<form id="saveForm" action="/Admin/ManageResources/Save" method="post">
			<input type="hidden" name="name" id="name" value="@Model.Name" />
			<div>
				<span class="label">Display Name:</span>
				<input type="text" id='email' name="email" value="@Model.DisplayName" />
			</div>
			<div>
				<span class="label">Enabled:</span>
				<input type="checkbox" id='enabled' name="enabled" value="@Model.Enabled" />
			</div>
			<br />
			<button type="button" id="saveButton" class="btn btn-primary">Save</button>
		</form>
	}
	else
	{
		<h1>Consumer not found</h1>
	}
</div>


