
@model long
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section headerPlugins
{
	<script src="~/js/Controllers/ClientController.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#saveButton").click(function () {
                $("#saveForm").submit();
            });
        });
    </script>
}
<div ng-controller="ClientController">
	<div class="row">
		<div class="col-sm-6" ng-form="updateClientForm" ng-init="getById(@Model);">
			<div>
				<span class="label">Client Id</span>
				<input type="text" id='clientId' name="clientId" value="{{ currentClient.clientId }}"/>
			</div>
			<div>
				<span class="label">Client Name</span>
				<input type="text" id='clientName' name="clientName" value="{{ currentClient.clientName }}" />
			</div>
			<div>
				<span class="label">Allow AutoGrant:</span>
				<select name="autoGrant" id="autoGrant">
					<option value="true" selected>Yes</option>
					<option value="false">No</option>
				</select>
			</div>
			<div>
				<span class="label">Token Lifetime:</span>
				<input type="text" id='accessTokenLifetime' name="accessTokenLifetime" value="{{ currentClient.accessTokenLifetime }}" />
			</div>
			<br />
			<button type="button" id="saveButton" class="btn btn-primary" ng-click="updateClient(currentClient.id);">Save</button>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Secrets</h3>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th width="1%">Secret</th>
								<th width="20%">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="secret in currentClient.clientSecrets">
								<td>{{secret.value}}</td>
								<td>
									<a ng-click="deleteSecret(currentClient.id, secret.id);">
										<img src="~/images/action_delete.png" class="deleteList" alt="" />
									</a>
								</td>
							</tr>
							<tr ng-form="newClientSecretForm">
								<td><input type="text" name="newSecret" ng-model="clientSecret.secret" required /></td>
								<td><input type="button" class="btn btn-primary" value="Add" ng-click="addSecret(currentClient.id);" /></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6" ng-init="getAvailableScopes();">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Scopes</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-4">
							<div class="row">
								<div>
									<label>Api Scopes</label>
								</div>
								<select id="availableScopes" size="6" multiple>
									<option ng-repeat="apiScope in availableScopes.apiScopes" value="{{apiScope.name}}" ng-selected="hasScope(currentClient, apiScope.name)">{{apiScope.name}}</option>
								</select>
							</div>
							<div class="row">
								<div>
									<label>Identity Scopes</label>
								</div>
								<select id="identityScopes" size="6" multiple>
									<option ng-repeat="identityScope in availableScopes.identityScopes" value="{{identityScope}}" ng-selected="hasScope(currentClient, identityScope)">{{identityScope}}</option>
								</select>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="row">
								<button type="button" id="addButton" class="btn btn-primary" ng-click="addSelectedScopes();">>></button>
							</div>
							<div class="row">
								<button type="button" id="removeButton" class="btn btn-primary" ng-click="removeSelectedScopes();"><<</button>
							</div>
							<button type="button" id="saveButton" class="btn btn-primary" ng-click="updateScopes(currentClient.id);">Save Changes</button>
						</div>
						<div class="col-sm-4">
							<select id="selectedScopes" size="6" multiple>
								<option ng-repeat="clientScope in currentClient.clientScopes" value="{{clientScope.scope}}">{{clientScope.scope}}</option>
							</select>
						</div>
					</div>
				</div>				
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Grant Types</h3>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<tbody ng-init="getGrantTypes();">
							<tr ng-repeat="grantType in grantTypes">
								<td>
									<input type="checkbox" id="{{ grantType }}" name="{{grantType}}" value="{{ grantType }}" ng-checked="isGrantTypeSelected(grantType);" ng-click="updateGrantType(currentClient.id, grantType);"/>
									<label for="{{grantType}}">{{grantType}}</label>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Callback Uri</h3>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th width="1%">Callback Uri</th>
								<th width="20%">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="redirectUri in currentClient.clientRedirectUris">
								<td>{{redirectUri.redirectUri}}</td>
								<td>
									<a ng-click="deleteRedirectUri(currentClient.id, redirectUri.id);">
										<img src="~/images/action_delete.png" class="deleteList" alt="" />
									</a>
								</td>
							</tr>
							<tr ng-form="newClientRedirectUriForm">
								<td><input type="text" name="newRedirectUri" ng-model="clientRedirectUri.value" required /></td>
								<td><input type="button" class="btn btn-primary" value="Add Redirect Uri" ng-click="addRedirectUri(currentClient.id);" /></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>