@{
    Layout = "_Layout";
}

@section Head
{

}

@if (@Model.Granted == true)
{ 
    <label>You have been successfully granted Access, To complete the process, please provide this verification code: <B>@Model.VerifierCode</B></label>
}
else
{ 
    <label>You're request was denied.</label>
}