<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.connection_string" xdt:Transform="Replace">Data Source=AMForwardDb.db.4272791.hostedresource.com; Initial Catalog=AMForwardDb; User ID=AMForwardDb; Password=AMFEr1c3;</property>
    </session-factory>
  </hibernate-configuration>
  <activeRecord isWeb="true">
    <config>
      <add key="connection.connection_string" value="Data Source=AMForwardDb.db.4272791.hostedresource.com; Initial Catalog=AMForwardDb; User ID=AMForwardDb; Password=AMFEr1c3;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="hibernate.connection.connection_string" value="Data Source=AMForwardDb.db.4272791.hostedresource.com; Initial Catalog=AMForwardDb; User ID=AMForwardDb; Password=AMFEr1c3;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </config>
  </activeRecord>
  <connectionStrings>
    <add name="AnotherBlogDb" connectionString="Data Source=AMForwardDb.db.4272791.hostedresource.com; Initial Catalog=AMForwardDb; User ID=AMForwardDb; Password=AMFEr1c3; Trusted_Connection=False;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AnotherBlogDbEF" connectionString="metadata=res://*/Entities.AnotherBlogDataModel.csdl|res://*/Entities.AnotherBlogDataModel.ssdl|res://*/Entities.AnotherBlogDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=AMForwardDb;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>