<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="VP.Digital.Common" />
  </extensions>
  <targets>
    <target name="LogstashNetworkTarget" 
            xsi:type="Network" 
            address="tcp://localhost:5140"
            maxMessageSize="16384"
            encoding="UTF-8"
            keepConnection="true"
            maxQueueSize="100"
            newLine="true"
            onOverFlow="Discard"
            layout="${json}"/>
    <target name="console" xsi:type="Console" />
    <target name="asyncDailyFile" xsi:type="AsyncWrapper">
      <target name="DailyFile"
              xsi:type="file"
              fileName="C:/Logs/VP.Digital.Security.OAuth.WebServer/current.txt"
              archiveEvery="None"
              archiveAboveSize="10485760"
              maxArchiveFiles="5"
              bufferSize="10"
              archiveFileName="C:/Logs/VP.Digital.Security.OAuth.WebServer/log-{#######}.txt"
            layout="${json}"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minLevel="Trace" writeTo="LogstashNetworkTarget"/>
    <logger name="*" minLevel="Trace" writeTo="console"/>
    <logger name="*" minLevel="Trace" writeTo="asyncDailyFile"/>
  </rules>
</nlog>