@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
	ViewBag.SelectedTab = 6;
}

@section headerPlugins
{
	<script src="~/js/Controllers/ApiResourceController.js" type="text/javascript"></script>
}

@{
	Dictionary<String, String> readonlyAttributes = new Dictionary<string, string>();
	readonlyAttributes.Add("class", "readonly");
	readonlyAttributes.Add("disabled", "true");

}
<div class="bodyContent" ng-controller="ApiResourceController">
	<div class="contentPageTitle">
		<h1>Manage Apis</h1>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th width="20%">Name</th>
				<th width="20%">Display Name</th>
				<th width="20%">Description</th>
				<th width="10%">Enabled</th>
			</tr>
		</thead>
		<tbody ng-init="getAll();">
			<tr ng-repeat="apiResource in apiResources">
				<td>{{ apiResource.name }}</td>
				<td>{{ apiResource.displayName }}</td>
				<td>{{ apiResource.description }}</td>
				<td>{{ apiResource.enabled }}</td>
				<td><a href="Claims/{{apiResource.id}}">Manage Claims</a></td>
				<td><a href="Secrets/{{apiResource.id}}">Manage Secrets</a></td>
				<td><a href="Scopes/{{apiResource.id}}">Manage Scopes</a></td>
				<td>
					<a ng-click="deleteApiResource(apiResource.id);">
						<img src="~/images/action_delete.png" class="deleteList" alt="" />
					</a>
					<button class="btn btn-primary" ng-click="saveApiResource();">Save</button>
				</td>
			</tr>
			<tr ng-form="newApiResourceForm">
				<td><input type="text" name="newApiResourceName" ng-model="newApiResource.name" required /></td>
				<td><input type="text" name="newApiResourceDisplayName" ng-model="newApiResource.displayName" required /></td>
				<td><input type="text" name="newApiResourceDescription" ng-model="newApiResource.description" required /></td>
				<td><input type="checkbox" name="newApiResourceEnabled" ng-model="newApiResource.enabled" value="false" /></td>
				<td><input type="button" class="btn btn-primary" value="Add Api Resource" ng-click="addApiResource();" /></td>
			</tr>
		</tbody>
	</table>
	<br />
</div>




