@model AlwaysMoveForward.OAuth2.Common.DomainModel.APIManagement.ProtectedApiResource;
@using AlwaysMoveForward.OAuth2.Common.DomainModel.APIManagement;
@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
	ViewBag.SelectedTab = 6;
}

@section headerPlugins
	{
	<script src="~/js/Controllers/ApiResourceController.js" type="text/javascript"></script>
}

@{
	Dictionary<String, String> readonlyAttributes = new Dictionary<string, string>();
	readonlyAttributes.Add("class", "readonly");
	readonlyAttributes.Add("disabled", "true");

}
<div class="bodyContent" ng-controller="ApiResourceController">
	<div class="bodyContent"  ng-init="getById(@Model.Id);">
		<div class="contentPageTitle">
			<label>Manage Secrets</label>
		</div>
		<input type="hidden" name="selectedApi" value="{{currentApiResource.id}}"/>
		<div class="row">
			<div class="col-sm-2">Resource Name:</div>
			<div class="col-sm-2">{{currentApiResource.name}}</div>			
		</div>
		<div class="row">
			<div class="col-sm-2">Display Name:</div>
			<div class="col-sm-2">{{currentApiResource.displayName}}</div>
		</div>
		<div class="row">
			<div class="col-sm-2">Description:</div>
			<div class="col-sm-2">{{currentApiResource.description}}</div>
		</div>
		<div class="row">
			<div class="col-sm-2">Enabled:</div>
			<div class="col-sm-2">{{currentApiResource.enabled}}</div>
		</div>
		<div class="panel-heading">
			<h3 class="panel-title">Secrets</h3>
		</div>
		<div class="panel-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th width="1%">Secret</th>
						<th width="20%">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="secret in currentApiResource.apiSecrets">
						<td>{{secret.value}}</td>
						<td>
							<a ng-click="deleteApiSecret(currentApiResource.id, secret.id);">
								<img src="~/images/action_delete.png" class="deleteList" alt="" />
							</a>
						</td>
					</tr>
					<tr ng-form="newApiSecretForm">
						<td><input type="text" name="newApiSecret" ng-model="apiResource.Secret" required /></td>
						<td><input type="button" class="btn btn-primary" value="AddSecret" ng-click="addApiSecret(currentApiResource.id);" /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>



