@model AlwaysMoveForward.MainSite.Models.CarouselModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CarouselModel = Model;
}
<div class="bodyContent">
    <div>
        This is the personal site of Arthur Correa.  
    </div>
    <div class="spacedColumnContainer">
        <div class="spacedColumn">
            <div class="textDetail">
                A blurb about my blog
            </div>
            <div>
                <button class="btn btn-circle glyphicon glyphicon-plus">

                </button>
            </div>
        </div>
        <div class="spacedColumn">
            <div class="textDetail">
                A blurb about my blog
            </div>
            <div>
                <button class="btn btn-circle">
                    blah
                </button>
            </div>
        </div>
        <div class="spacedColumn">
            <div class="textDetail">
                A blurb about my blog
            </div>
            <div>
                <button class="btn btn-circle">
                    blah
                </button>
            </div>
        </div>
        <span class="stretch"/>
    </div>
</div>
